<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Cadastro de Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="produto.nome" name="nome" placeholder="Nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" [(ngModel)]="produto.peso" name="peso" placeholder="Peso"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" [(ngModel)]="produto.preco" name="preco" placeholder="Preço"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" (click)="createProduct()" class="ion-no-margin">Criar Produto</ion-button>
  </div>
</ion-content>