<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lista de Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let produto of produtos">
    <ion-card-header (click)="UpdateProduct(produto.idLocal)">
      <ion-card-title>Nome: {{produto.nome}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Peso: {{produto.peso}} Kg<br>Preço: R$ {{produto.preco}}
      <!-- <ion-button color="primary" style="position: absolute;right:1%;bottom:80%" (click)="UpdateProduct(produto.idLocal)">editar
      </ion-button> -->
      <ion-button color="danger" style="position: absolute;right:1%;bottom:110%" (click)="DeleteProduct(produto.idLocal)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>

<ion-fab vertical="bottom" horizontal="start">
  <ion-fab-button (click)="Sync()">
    <ion-icon name="sync"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button (click)="createProduct()" color="success">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>