<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Alterar Produto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
  <ion-input [(ngModel)]="produto.idLocal" name="idLocal" type="text" style="position:absolute" hidden></ion-input>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nome <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" [(ngModel)]="produto.nome" name="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Peso <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="number" [(ngModel)]="produto.peso" name="peso"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Preço <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="number" [(ngModel)]="produto.preco" name="preco"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" (click)="updateProduct()" class="ion-no-margin">Alterar Produto</ion-button>
  </div>
</ion-content>